{% extends 'base.html' %}
 {% block content %}
 	<div class=container><div class="jumbotron"><h1 class="text-center">{{ques[0][0]}}</h1></div></div>
	{% for i in ans %}
		<div class="container"><div class="jumbotron">
			<p>{{i[2]}}</p>
      <div class="text-right"><h2><span class="glyphicon glyphicon-arrow-up"></span>{{i[3]}}<span class="glyphicon glyphicon-arrow-down"></span></h2></div>
			</div></div>
	{% endfor %}
	<div class="container">
	<div class="text-right"><a href={{'/submitanswer/'+ques[0][1]}}><button type="button" class="btn btn-primary">Submit Answer</button></a></div>
 	</div>
 	<br><br><br><br>
 {% endblock %}