{% extends 'base.html' %}
 {% block content %}
 	<div class=container><div class="jumbotron"><h1 class="text-center">{{ques[0]}}</h1></div></div>
	{% for i in ans %}
		<div class="container"><div class="jumbotron">
		<blockquote>	
			<p>{{i[2]}}</p>
	<footer> Answer By: <a href={{'/user/'+i[1]}}>{{i[5]}}</a></footer>
	</blockquote>
      <div class="text-right"><h2>
		<a href={{url_for("answer_upvote",aid=i[4],previous_link=ques[1],uid=session['uid'])}}>
      	<span class="glyphicon glyphicon-arrow-up"></span></a>
      	{{i[3]}}<span class="glyphicon glyphicon-arrow-down"></span></h2></div>
			</div></div>
	{% endfor %}
	<div class="container">
	{% if 'username' in session %}
	<div class="text-right"><a href={{'/submitanswer/'+ques[0][1]}}><button type="button" class="btn btn-primary">Submit Answer</button></a></div>
 	{% else %}
	<div class="text-right"><a href={{'/login/'}}><button type="button" class="btn btn-primary">Submit Answer</button></a></div>
 	{% endif %}
 	</div>
 	<br><br><br><br>
 {% endblock %}