{% extends 'base.html' %}
 {% block content %}
    <div class="container"> 
    <div class="jumbotron">
      <h1 class="text-center">{{coursename[0][0]}}</h1>
    </div> 
  	</div>
  	{% for i in q %}
  	<div class="container"> 
    <div class="jumbotron">
      <a href={{'/answers/'+i[0][3]}}><p>{{i[0][1]}}</p></a>
      <br><br>
      <small>Poster: {{i[1]}}</small>
      <div class="text-right"><h2><span class="glyphicon glyphicon-arrow-up"></span>{{i[0][4]}}<span class="glyphicon glyphicon-arrow-down"></span></h2></div>
    </div> 
  	</div>
  	{% endfor %}
    <div class="container">
    <div class="text-right"><a href={{'/submitquestion/'+coursename[0][1]}}><button type="button" class="btn btn-primary">Submit Question</button></a></div>
    </div>
 {% endblock %}