{% extends 'base.html' %}
 {% block content %}
    <div class="container"> 
    <div class="jumbotron">
      <h1 class="text-center">{{coursename[0][0]}}</h1>
    </div> 
  	</div>
  	{% for i in q %}
  	<div class="container"> 
    <div class="jumbotron">
      <blockquote>
      <a href={{'/answers/'+i[0][3]}}><p>{{i[0][1]}}</p></a>
      <footer>Posted By: <a href={{'/user/'+i[0][0]}}>{{i[1]}}</a></footer>
      <div class="text-right"><h2><span class="glyphicon glyphicon-arrow-up"></span>{{i[0][4]}}<span class="glyphicon glyphicon-arrow-down"></span></h2></div>
    </div> 
  	</div>
  	{% endfor %}
    <div class="container">
    {% if 'username' in session %}
    <div class="text-right"><a href={{'/submitquestion/'+coursename[0][1]}}><button type="button" class="btn btn-primary">Submit Question</button></a></div>
    {% else %}
    <div class="text-right"><a href="/login/"><button type="button" class="btn btn-primary">Submit Question</button></a></div>
    {% endif %}
    </div>
 {% endblock %}